.equipmentAbilities.flexBoxContainer
    table.table.table-responsive.infoBlockContainer
        thead
            tr
                th(colspan="3") Equipment
            tr
                th Qty
                th Item
                th Del
        tbody
            tr(ng-repeat="(index, item) in equipmentAbilities.character.equipment")
                td: input.mediumNumber.editableStat(type="number", ng-model="item.qty")
                td.calculatedField {{item.item.name}}
                td.deleteRow(ng-click="equipmentAbilities.deleteItem(index)") X
            tr
                td.addRow(colspan="3") + Add Item

    table.infoBlockContainer
        tbody
            tr: td
                table.table.table-responsive
                    thead
                        tr
                            th(colspan="3") Feats
                        tr
                            th Feat
                            th Detail
                            th Del
                    tbody
                        tr(ng-repeat="(index, feat) in equipmentAbilities.character.feats")
                            td.calculatedField {{feat.name}}
                            td.calculatedField {{feat.detail}}
                            td.deleteRow(ng-click="equipmentAbilities.deleteFeat(index)") X
                        tr
                            td.addRow(colspan="3") + Add Feat
            tr: td
                table.table.table-responsive
                    thead
                        tr
                            th(colspan="2") Abilities
                        tr
                            th Ability
                            th Detail
                    tbody
                        tr(ng-repeat="ability in equipmentAbilities.characterAbilities")
                            td.calculatedField {{ability.name}}
                            td.calculatedField {{ability.detail}}
