.equipmentAbilities.flexBoxContainer
    table.table.table-responsive.infoBlockContainer
        thead
            tr
                th(colspan="3") Equipment
            tr
                th Qty
                th Item
                th Del
        tbody
            tr(ng-repeat="item in equipmentAbilities.character.equipment")
                td: input.largeNumber(type="number", ng-model="item.qty")
                td: input(type="text", ng-value="item.item.name", disabled)
                td.deleteRow X
            tr
                td.addRow(colspan="3") + Add Item

    table.infoBlockContainer
        tbody
            tr: td
                table.table.table-responsive
                    thead
                        tr
                            th(colspan="3") Feats
                        tr
                            th Feat
                            th Detail
                            th Del
                    tbody
                        tr(ng-repeat="feat in equipmentAbilities.character.feats")
                            td: input(type="text", ng-value="feat.name", disabled)
                            td: input(type="text", ng-value="feat.detail", disabled)
                            td.deleteRow X
                        tr
                            td.addRow(colspan="3") + Add Feat
            tr: td
                table.table.table-responsive
                    thead
                        tr
                            th(colspan="2") Abilities
                        tr
                            th Ability
                            th Detail
                    tbody
                        tr(ng-repeat="ability in equipmentAbilities.characterAbilities")
                            td: input(type="text", ng-value="ability.name", disabled)
                            td: input(type="text", ng-value="ability.detail", disabled)
