.characterInfo
    .characterInfoContainer
        .characterInfoElement
            label(for="characterGender") Gender
            input#characterGender(type="text", value="Male")

        .characterInfoElement
            label(for="characterAge") Age
            input#characterAge.mediumNumber(type="number", value="33")
            
        .characterInfoElement
            label(for="characterHeight") Height
            input#characterHeight(type="text", value="6'6\"")
            
        .characterInfoElement
            label(for="characterWeight") Weight
            input#characterWeight.mediumNumber(type="number", value="185")
            
        .characterInfoElement
            label(for="characterHair") Hair
            input#characterHair(type="text", value="Black")
            
        .characterInfoElement
            label(for="characterEyes") Eyes
            input#characterEyes(type="text", value="Green")
            
        .characterInfoElement
            label(for="characterDeity") Deity
            input#characterDeity(type="text", value="N/A")
            
        .characterInfoElement
            label(for="characterHomeland") Homeland
            input#characterHomeland(type="text", value="Srolai Forest")

.characterInfo
    p There will be a WYSIWYG Markdown editor here!