.spells.flexBoxContainer
    table.table.table-responsive.infoBlockContainer(ng-repeat="(level, spellLevelInfo) in spells.spells")
        thead
            tr
                th(colspan="4") Level {{level}} Spells
            tr
                th Spell
                th Detail
                th Use
                th Clear
        tbody
            tr(ng-repeat="(index, spell) in spellLevelInfo.spells", ng-class="{usedSpell: spell.used}")
                td.calculatedField {{spell.name}}
                td.calculatedField {{spell.detail}}
                td.useSpell(ng-click="spell.used = !spell.used") -
                td.deleteRow(ng-click="spells.removeSpell(level, index)") X
            tr(ng-show="spells.levelHasOpenSpellSlots(spellLevelInfo)")
                td.text-center.addRow(colspan="4") -- Select Spell --