.characterInfo
    .characterInfoContainer
        .characterInfoElement
            label Player Name
            input(type="text", ng-model="statsSkills.character.playerName")

        .characterInfoElement
            label Character Name
            input(type="text", ng-model="statsSkills.character.characterName")

        .characterInfoElement
            label Alignment
            select(ng-model="statsSkills.character.alignment", ng-options="a for a in statsSkills.alignments")

        .characterInfoElement
            label Race
            select(ng-model="statsSkills.character.race", ng-options="r for r in statsSkills.races")

        .characterInfoElement
            label Level
            input(type="text", ng-value="statsSkills.getTotalLevel()", disabled="disabled", size="2")

        .characterInfoElement
            label Experience
            input.largeNumber(type="number", ng-model="statsSkills.character.experience", maxlength="7")

        .characterInfoElement
            label Size
            input(type="text", value="Medium", disabled, size="7")

        .characterInfoElement(ng-repeat="classObj in statsSkills.character.classes")
            label Class
            .characterClassBlock
                span: select(ng-model="classObj.classRef", ng-options="c as c.name for c in statsSkills.classes")
                span: input.smallNumber(type="number", ng-model="classObj.level", size="2")

.characterStatBlocks
    table.table.table-responsive.infoBlockContainer.characterAbilityScores
        thead
            tr
                th Ability
                th Score
                th Temp
                th Mod
        tbody
            tr(ng-repeat="attribute in statsSkills.attributes")
                td.statLabel: label {{attribute.shortName}}
                td: input.smallNumber.editableStat(type="number", ng-model="statsSkills.character.attributes[attribute.name].score")
                td: input.smallNumber.editableStat(type="number", ng-model="statsSkills.character.attributes[attribute.name].temp")
                td.calculatedField.modifier {{statsSkills.getAttributeModifier(attribute)}}
            tr
                td.characterSkills(colspan="4"): table.table.table-responsive
                    thead
                        tr
                            th Skill
                            th Ranks
                            th Mod
                    tbody
                        tr(ng-repeat="skill in statsSkills.skills")
                            td.statLabel
                                label(ng-class="{classSkill: statsSkills.isClassSkill(skill)}") {{skill.name}}
                            td: input.smallNumber.editableStat(type="number", ng-model="statsSkills.character.skills[skill.shortName]")
                            td.calculatedField.modifier {{statsSkills.getSkillModifier(skill)}}

    table.table.table-responsive.infoBlockContainer.characterCoreStats
        thead
            tr: th(colspan=4) Core Stats
        tbody
            tr
                td.statLabel: label Hit Points
                td: .coreStatBlock
                    label Max
                    input.smallNumber.editableStat(type="number", ng-model="statsSkills.character.maxHitPoints")
                td: .coreStatBlock
                    label Cur
                    input.smallNumber.editableStat(type="number", ng-model="statsSkills.character.currentHitPoints")
                td: .coreStatBlock
                    label Temp
                    input.smallNumber.editableStat(type="number", ng-model="statsSkills.character.tempHitPoints")
            tr
                td.statLabel: label Basics
                td: .coreStatBlock
                    label Speed
                    span.calculatedField {{statsSkills.getSpeed()}}
                td: .coreStatBlock
                    label Initiative
                    span.calculatedField {{statsSkills.getInitiative()}}
                td: .coreStatBlock
                    label BAB
                    span.calculatedField {{statsSkills.getBaseAttackBonus()}}
            tr
                td.statLabel: label Combat Maneuvers
                td: .coreStatBlock
                    label CMB
                    span.calculatedField {{statsSkills.getCombatManeuverBonus()}}
                td: .coreStatBlock
                    label CMD
                    span.calculatedField {{statsSkills.getCombatManeuverDefense()}}
                td
            tr
                td.statLabel: label Armor Class
                td: .coreStatBlock
                    label Normal
                    span.calculatedField {{statsSkills.getNormalArmorClass()}}
                td: .coreStatBlock
                    label Touch
                    span.calculatedField {{statsSkills.getTouchArmorClass()}}
                td: .coreStatBlock
                    label Flat
                    span.calculatedField {{statsSkills.getFlatFootedArmorClass()}}
            tr
                td.statLabel: label Saves
                td: .coreStatBlock
                    label Fort
                    span.calculatedField {{statsSkills.getFortSave()}}
                td: .coreStatBlock
                    label Reflex
                    span.calculatedField {{statsSkills.getReflexSave()}}
                td: .coreStatBlock
                    label Will
                    span.calculatedField {{statsSkills.getWillSave()}}
            tr
                td(colspan="5").characterWeapons: table.table.table-responsive
                    thead
                        tr
                            th Weapon
                            th ATK
                            th Crit
                            th Range
                            th Damage
                    tbody
                        tr(ng-repeat="(index, weapon) in statsSkills.character.weapons | orderBy ")
                            td.statLabel: label {{weapon.name}}
                            td.calculatedField {{statsSkills.getWeaponAttackBonus(weapon)}}
                            td.calculatedField {{weapon.crit}}
                            td.calculatedField {{weapon.range}}
                            td.calculatedField {{statsSkills.getWeaponDamageString(weapon)}}
                            td.deleteRow(ng-click="statsSkills.deleteWeapon(index)") X
                        tr(ng-show="!statsSkills.addingWeapon")
                            td.addRow(colspan="5", ng-click="statsSkills.addingWeapon = true") + Add Weapon
                        tr(ng-show="statsSkills.addingWeapon")
                            td(colspan="3")
                                input.form-control(type="text", ng-model="statsSkills.weaponToAdd", typeahead-on-select="statsSkills.addWeapon($item)",
                                typeahead="weapon.name for weapon in statsSkills.allWeapons() | filter: {name: $viewValue} | limitTo: 8")
                            td.clickable.cancelAddRow(ng-click="statsSkills.cancelAddingWeapon()") Cancel

            tr
                td(colspan="5").characterEffects: table.table.table-responsive
                    thead
                        tr
                            th(colspan="5") Active Effects
                    tbody
                        tr(ng-repeat="(index, effect) in statsSkills.character.effects")
                            td.statLabel: label {{effect.name}}
                            td.deleteRow(ng-click="statsSkills.deleteEffect(index)") X
                        tr(ng-show="!statsSkills.addingEffect")
                            td.addRow(colspan="5", ng-click="statsSkills.addingEffect = true") + Add Effect
                        tr(ng-show="statsSkills.addingEffect")
                            td
                                input.form-control(type="text", ng-model="statsSkills.effectToAdd", typeahead-on-select="statsSkills.addEffect($item)",
                                typeahead="effect.name for effect in statsSkills.allEffects() | filter: {name: $viewValue} | limitTo: 8")
                            td.clickable.cancelAddRow(ng-click="statsSkills.cancelAddingEffect()") Cancel
                                       