.characterInfo
    .characterInfoContainer
        .characterInfoElement
            label Player Name
            input(type="text", ng-model="statsSkills.character.playerName")

        .characterInfoElement
            label Character Name
            input(type="text", ng-model="statsSkills.character.characterName")

        .characterInfoElement
            label Alignment
            select(ng-model="statsSkills.character.alignment", ng-options="a for a in statsSkills.alignments")

        .characterInfoElement
            label Race
            select(ng-model="statsSkills.character.race", ng-options="r for r in statsSkills.races")

        .characterInfoElement
            label Level
            input(type="text", ng-value="statsSkills.getTotalLevel()", disabled="disabled", size="2")

        .characterInfoElement
            label Experience
            input.largeNumber(type="number", ng-model="statsSkills.character.experience", maxlength="7")

        .characterInfoElement
            label Size
            input(type="text", value="Medium", disabled, size="7")

        .characterInfoElement(ng-repeat="classObj in statsSkills.character.classes")
            label Class
            .characterClassBlock
                span: select(ng-model="classObj.name", ng-options="c for c in statsSkills.classes")
                span: input.smallNumber(type="number", ng-model="classObj.level", size="2")

.characterStatBlocks
    table.table.table-responsive.infoBlockContainer.characterAbilityScores
        thead
            tr
                th Ability
                th Score
                th Temp
                th Mod
        tbody
            tr(ng-repeat="ability in statsSkills.abilities")
                td.statLabel: label {{ability.substr(0, 3).toUpperCase()}}
                td: input.smallNumber.editableStat(type="number", ng-model="statsSkills.character.abilities[ability].score")
                td: input.smallNumber.editableStat(type="number", ng-model="statsSkills.character.abilities[ability].temp")
                td.calculatedField.modifier {{statsSkills.getAbilityModifier(ability)}}
            tr
                td.characterSkills(colspan="4"): table.table.table-responsive
                    thead
                        tr
                            th Skill
                            th Ranks
                            th Mod
                    tbody
                        tr(ng-repeat="skill in statsSkills.skills")
                            td.statLabel {{camelSkill = statsSkills.camelCase(skill);""}}
                                label(ng-class="{classSkill: statsSkills.isClassSkill(camelSkill)}") {{skill}}
                            td: input.smallNumber.editableStat(type="number", ng-model="statsSkills.character.skills[camelSkill]")
                            td.calculatedField.modifier {{statsSkills.getSkillModifier(camelSkill)}}

    table.table.table-responsive.infoBlockContainer.characterCoreStats
        thead
            tr: th(colspan=4) Core Stats
        tbody
            tr
                td.statLabel: label Hit Points
                td: .coreStatBlock
                    label Max
                    input.smallNumber.editableStat(type="number", ng-model="statsSkills.character.maxHitPoints")
                td: .coreStatBlock
                    label Cur
                    input.smallNumber.editableStat(type="number", ng-model="statsSkills.character.currentHitPoints")
            tr
                td.statLabel: label Basics
                td: .coreStatBlock
                    label Speed
                    span.calculatedField {{statsSkills.getSpeed()}}
                td: .coreStatBlock
                    label Initiative
                    span.calculatedField {{statsSkills.getInitiative()}}
                td: .coreStatBlock
                    label BAB
                    span.calculatedField {{statsSkills.getBaseAttackBonus()}}
            tr
                td.statLabel: label Combat Maneuvers
                td: .coreStatBlock
                    label CMB
                    span.calculatedField {{statsSkills.getCombatManeuverBonus()}}
                td: .coreStatBlock
                    label CMD
                    span.calculatedField {{statsSkills.getCombatManeuverDefense()}}
            tr
                td.statLabel: label Armor Class
                td: .coreStatBlock
                    label Normal
                    span.calculatedField {{statsSkills.getNormalArmorClass()}}
                td: .coreStatBlock
                    label Touch
                    span.calculatedField {{statsSkills.getTouchArmorClass()}}
                td: .coreStatBlock
                    label Flat
                    span.calculatedField {{statsSkills.getFlatFootedArmorClass()}}
            tr
                td.statLabel: label Saves
                td: .coreStatBlock
                    label Fort
                    span.calculatedField {{statsSkills.getFortSave()}}
                td: .coreStatBlock
                    label Reflex
                    span.calculatedField {{statsSkills.getReflexSave()}}
                td: .coreStatBlock
                    label Will
                    span.calculatedField {{statsSkills.getWillSave()}}
            tr
                td(colspan="5").characterWeapons: table.table.table-responsive
                    thead
                        tr
                            th Weapon
                            th ATK
                            th Crit
                            th Range
                            th Damage
                    tbody
                        tr(ng-repeat="(index, weapon) in statsSkills.character.weapons")
                            td.statLabel: label {{weapon.name}}
                            td.calculatedField {{statsSkills.getWeaponAttackBonus(weapon)}}
                            td.calculatedField {{weapon.crit}}
                            td.calculatedField {{weapon.range}}
                            td.calculatedField {{statsSkills.getWeaponDamageString(weapon)}}
                            td.deleteRow(ng-click="statsSkills.deleteWeapon(index)") X
                        tr
                            td.addRow(colspan="5") + Add Weapon