- isDev = settings.env == 'development'
doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title!= title
        if isDev
            link(rel='stylesheet', href='css/pfcm.css')
            script(src="js/libs.js")
            script(src="js/pfcm.js")
        else
            link(rel='stylesheet', href='css/pfcm.min.css')
            script(src="js/libs.min.js")
            script(src="js/pfcm.min.js")
body
    include navbar.jade