include header.jade
.container
    h2.text-center(ng-show="!user.authenticated")
        span You must&nbsp;
            a.clickable(ng-click="login()") login
        span &nbsp;to use Pathfinder Character Manager

    .characterSheet(ng-show="user.authenticated", ng-viewport)

script(type="text/ng-template" id="statsSkills.html")
    include component/statsSkills.jade

script(type="text/ng-template" id="equipmentAbilities.html")
    include component/equipmentAbilities.jade

script(type="text/ng-template" id="spells.html")
    include component/spells.jade

script(type="text/ng-template" id="loreBackstory.html")
    include component/loreBackstory.jade

script(type="text/ng-template" id="loginModal.html")
    include loginModal.jade