include header.jade
.container
    h2.text-center(ng-show="!user.authenticated")
        span You must&nbsp;
            a.clickable(ng-click="login()") login
        span &nbsp;to use Pathfinder Character Manager

    .characterSheet(ng-show="user.authenticated")
    include character_sheet.jade

include login_modal.jade