h4.modal-header Login
.modal-body
    div(ng-show="!loading")
        #loginModalError.alert.alert-danger(ng-show="error") {{error}}
        input.form-control(type="text", ng-model="user.username", placeholder="username", autofocus)
        input.form-control(type="password", ng-model="user.password", placeholder="password")
    div(ng-show="loading") Loading...
.modal-footer
    button.btn.btn-default(ng-disabled="loading", ng-click="cancel()") Cancel
    button.btn.btn-primary(ng-disabled="loading", ng-click="submit()") Submit