.navbar.navbar-default(role='navigation')
    .navbar-header
        a.navbar-brand(href='#') Pathfinder Character Manager
    .navbar-collapse.collapse
        ul.nav.navbar-nav
            li.active: a(href='#') Home
        ul.nav.navbar-nav.navbar-right
                li(ng-show="user.authenticated", ng-click="logout()"): a.clickable Logout
                li(ng-show="!user.authenticated", ng-click="login()"): a.clickable Login