@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

$smallNumber: 45px;
$mediumNumber: 90px;
$largeNumber: 120px;

input, select {
    text-align: center;
    margin: 0 auto;
}

.infoBlockContainer {
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    display: inline-block;
    width: auto;
    height: 100%;
    vertical-align: top;
}

.flexBoxContainer {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.characterInfo {
    @extend .infoBlockContainer;
    text-align: center;
    width: 100%;
}

.characterInfoContainer {
    width: 98%;
    margin: 0 auto;
    text-align: center;
}

.characterInfoElement {
    display: inline-block;
    margin-right: 20px;
    margin-top: 5px;
    vertical-align: top;
}

.characterClassBlock span {
    float: left;
}

.characterInfoElement label,
.coreStatBlock label {
    display: block;
    text-align: center;
}

.characterInfo input,
.characterInfo select {
    @extend .form-control;
}

.characterStatBlocks {
    @extend .flexBoxContainer;
    margin-top: 20px;
}

table.characterStatBlock > tbody > tr > td,
table.characterWeapons > tbody > tr > td {
    padding: 3px;
}

.infoBlockContainer input {
    @extend .form-control;
    width: auto;
}

.infoBlockContainer th {
    text-align: center;
}

td.statLabel {
    vertical-align: middle !important;
}

input.smallNumber {
    width: $smallNumber;
}

input.mediumNumber {
    width: $mediumNumber;
}

input.largeNumber {
    width: $largeNumber;
}

label.classSkill {
    color: green;
}

.addRow {
    cursor: pointer;
    font-weight: bold;
}

.deleteRow {
    @extend .addRow;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
}

.useSpell {
    @extend .deleteRow;
}

.addRow:hover {
    text-decoration: underline;
    color: green;
}

.deleteRow:hover {
    color: red;
    text-decoration: none;
}

.useSpell:hover {
    color: orange;
}

.itemName {
    @extend .form-control;
}

.usedSpell {
    background-color: gray;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.characterSkills {
    padding: 20px 0 0 !important;
}

.characterWeapons {
    @extend .characterSkills;
}

.weaponFieldContainer {
    text-align: center;
    vertical-align: middle !important;
}

.weaponField {
    width: auto;
    cursor: not-allowed;
    background-color: #eeeeee;
    padding: 6px 12px;
    color: #555555;
    border: 1px solid #cccccc;
    border-radius: 4px;
}